* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.top-bar {
  background: black;
  position: sticky;
  top: -85px;
  z-index: 10;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 80px;
  align-items: center;
}

.top-left {
  display: flex;
  gap: 30px;
}

.top-left span {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ddd;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.delivery-btn {
  margin-top: 0PX;
  background: #ff3c1f;
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-family: cursive;
  font-size: 10px;
}

.navbar {
  background: #f3f3f3;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  box-shadow: 0px 8px 20px rgba(77, 58, 60, 0.544);
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-icon {
  width: 60px;
  height: 60px;
  background: linear-gradient(to right, orange, red);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: white;
}

.logo h1 {
  font-size: 30px;
  font-family: Georgia, serif;
}

.logo h1::first-letter {
  color: red;
}



.logo p {
  font-size: 12px;
  color: gray;
  letter-spacing: 3px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 15px;
}

.nav-links li {
  cursor: pointer;
  position: relative;
}

.active::after,
.active-red::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 4px;
  background: red;
  bottom: -12px;
  left: 0;
  border-radius: 10px;
}

.active-red {
  color: red;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-icon {
  font-size: 20px;
  cursor: pointer;
}

.order-btn {
  background: #e52414;
  margin-top: 1px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}